{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% from 'components/content-sections.html' import contentSections %}

{% block seo %}
    {% set pageSeoTitle = sitePage.content.seoTitle %}
    {% set pageSeoDescription = sitePage.content.seoDescription %}
    {% include "partials/seo-data.html" %}
{% endblock %}

{% block content %}

  {# <script>console.log({{sitePage.content | dump | safe}})</script> #}

  {% if sitePage.content.slug.current == 'privacy-policy' %}
    <section class="wrapper [ flow ]">
      <h1>Privacy Policy</h1>
      <p><a href="https://www.iubenda.com/privacy-policy/35923895">View the DelGrossos.com Privacy Policy</a>.</p>
    </section>
  {% else %}
    {{contentSections(sitePage.content.sectionsTop)}}
  {% endif %}

  {% if sitePage.content.slug.current == 'contact' %}
    {% include "sections/contact-form.html" %}
  {% endif %}

  {% if sitePage.content.slug.current == 'anonymous-report' %}
    {% include "sections/anonymous-report-form.html" %}
  {% endif %}

{% endblock %}
